



/* Application
=================================================================*/

$col-txt: #787878;
$link-col: #00b6f4;
$oth-link-col: #73ca3e;
$pink-col: #ff0090;
$head-col: #07485e;







/* Social Websites
=================================================================*/
$facebook: #3b589e;
$twitter: #00aced;
$instagram: #c21975;
$vkontakte: #436eab;
$youtube: #fe0000;
$googlePlus: #dc4a38;
$odnoklassniki: #f58220;
$linkedin: #107bb8;
$telegram: #00aff0;

