/* *******************
******** rokhat css change by Shohrux ********
*****************/


.widget {
    background-color: rgba(8, 46, 59, .8);
    max-width: 95%;
    margin: 0 auto;
    padding: 50px;
}

.widget-segments {
    margin-bottom: 0;
}


.widget__holder, .widget-segments__segment {
    display: flex !important;
}

.widget-segments, .widget-footer, .widget-airports, .widget-dates {
    flex: 1 1 auto !important;
}

.transition, .react-datepicker-popper {
    transition: all 0.3s ease-in-out;
}


/********
    widget select
        ********/

.widget-airports__select__value__airportName, .widget-airports__select__value__comma, .widget-dates__caption, .widget .form-control {
    font-weight: 400;
}

.widget .Select-control,
.widget .form-control,
.widget .widget__startButton,
.widget-airports__select .Select-input input {
    height: 65px !important;
    line-height: 65px !important;
}

.widget-airports__select .Select-placeholder, .widget-dates__caption {
    line-height: 65px;
}

.widget .widget__startButton {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.widget .form-control, .widget-passengers__trigger, .widget .Select-control {
    border: none;
}

.widget-airports {
    margin-bottom: 0;
}

.widget-dates__col:first-of-type {
    padding: 0;
}

.widget-dates__col:last-of-type {
    padding: 0;
}

.widget-additionalOptions {
    display: none;
}

.widget .btn-primary {
    background: #ff0090;
    color: #fff;
}

/*widget select*/


/********
    media
        ********/
/* ----------
    --------- media min 651px ---------
 ---------  */
@media only screen and (min-width: 651px) {
    .widget-footer__col:nth-of-type(2n) {
        padding-left: 0;
    }

    .widget-footer__col:nth-of-type(odd) {
        padding-right: 0;
    }

    /*media min 651px*/
}


/* ----------
    --------- media max 1199px ---------
 ---------  */
@media screen and (max-width: 1199px) {
    .widget {
        padding: 20px;
        width: 100%;
        max-width: none;
    }

    .widget-airports {
        flex-basis: 700px !important;
    }

    /*media 1199px*/
}

/* ----------
    --------- media max 991px ---------
 ---------  */

@media screen and (max-width: 991px) {
    .main-slider-wrap-con {
        position: static;
    }

    .ifarme-airline {
        margin-top: 0;
        padding-bottom: 0;
    }

    .widget .widget__startButton {
        border-radius: 0;
    }

    .widget {
        padding: 15px;
    }

    .widget-segments__segment, .widget__holder {
        flex-direction: column;
    }

    .widget-airports, .widget-dates {
        margin-bottom: 5px !important;
    }

    .widget-airports {
        flex-basis: auto !important;
    }

    .widget-footer__col:nth-of-type(odd) {
        padding-right: 1px;
    }

    /*media 991px*/
}


/* ----------
    --------- media max 650px ---------
 ---------  */

@media screen and (max-width: 650px) {
    .widget-airports .widget-airports__col:first-child {
        margin-bottom: 5px;
    }

    /*media 650px*/
}

/* media */

/* *******************
******** rokhat css change by Shohrux ********
*****************/
