.scheme-img
{
    width: 100%;
}

.scheme-img img {
    width: 100%;
    height: auto;
}
.sotsial-nav li a{
    opacity: 1;
    color: #fff;
    font-size: 25px;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.sotsial-nav li a:hover {
    background: #00b6f4;
}

.sotsial-nav {
    flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
    .footer-sotsial-nav-wrap {
        order: 1
    }
    .footer-comp-inf {
        order: 2
    }
}